body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}


header, nav, main, footer {
  padding: 1rem;
}

#navMenu {
  display: none;
  flex-direction: column;
}

#menu {
  display: block;
}
